<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cis2237.himes_p3.cityguide" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".NavyPierActivity"
            android:label="@string/title_activity_navy_pier" >
        </activity>
        <activity
            android:name=".WillisTowerActivity"
            android:label="@string/title_activity_willis_tower" >
        </activity>
        <activity
            android:name=".WaterTowerActivity"
            android:label="@string/title_activity_water_tower" >
        </activity>
    </application>

</manifest>
